html
{
 margin:0;
 padding:0;
}
body 
{
 background-color: #313131;
 margin:0;
 padding:0;
}
h1{
    color: white; 

}
p
{
    color: lightcyan; 

}
i
{
    color: lightgrey; 

}
blockquote 
{
    background: #3c3c3c;

    border-left: 5px solid rgb(8, 4, 22);
    margin: 1.5em 0px;
    padding: 0.5em 10px;
}
blockquote p 
{
    color: whitesmoke; 

    display: inline;
}
hr{
    border: 3px solid #343434;
}

::-webkit-scrollbar {
width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
background: #161616;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #424242;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #4f4f4f; 
}
.nav-icon-img
{
    display: block;
    max-height: 48px;
}
.nav-icon-link
{
    align-items: center;
    direction: ltr;
    display: flex;
    height: 100%;
}
.nav-header
{
    top: 0px;
    align-items: center;
    display: flex;
    height: 52px;
    left: 0;
    position: fixed;
    width: 100%;
    background-color: #202020;
    box-shadow:1px 2px 5px #202020;
}
.nav-list
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
    overflow: hidden;
}
.nav-list-link
{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.nav-list-link:hover
{
    background-color: #111;
    color: lightsalmon;
}
a
{
    color: lightsalmon;
}
.nav-list-link-dropdown
{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.nav-list-link-dropdown:hover
{
    background-color: #111;
    color: lightsalmon;
}
.nav-list-link-dropdown:visited
{
    color: white;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #222222e1;
    min-width: 160px;
    border-radius: 0px 0px 7px 7px;
    box-shadow: 0px 5px 16px 5px rgba(0, 0, 0, 0.02);
    z-index: 1;
    
  }
.dropdown-content a 
{
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover 
{
    color: lightsalmon;
}
.dropdown:hover .dropdown-content 
{
    display: block;
}
.parallax 
{
    /* The image used */
    background-image: url("SparkelyProject.png");
    /* Set a specific height */
    height: 650px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    text-align: center;

}
.parallax span
{
    text-shadow: 0px 1px 4px black;
}